<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("Partials/Head/_HeadPartial.cshtml")
</head>
<body>
    <!-- Begin page -->
    <div id="wrapper">
        <!-- Topbar Start -->
        @await Html.PartialAsync("Partials/Body/Wrapper/_NavbarCustomPartial.cshtml")
        <!-- end Topbar -->
        <!-- ========== Left Sidebar Start ========== -->
        @await Html.PartialAsync("Partials/Body/Wrapper/_LeftSideBarPartial.cshtml")
        <!-- Left Sidebar End -->
        <!-- Start Page Content here -->
        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">

           
                    @RenderBody()

                </div>
                <!-- end container-fluid -->

            </div>
            <!-- end content -->
            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            2016 - 2019 &copy; Uplon theme by <a href="">Coderthemes</a>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

        </div>
        <!-- End Page content -->
    </div>
    <!-- END wrapper -->
    <!-- Right Sidebar -->
    @await Html.PartialAsync("Partials/Body/RightBar/_RightBarPartial.cshtml")
    <!-- /Right-bar -->
    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    @await Html.PartialAsync("Partials/Body/JavaScript/_JavaScriptPartial.cshtml")

</body>

</html>