<div class="left-side-menu">

    <div class="slimscroll-menu">

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <li class="menu-title">Navigation</li>

                <li>
                    <a href="index.html">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> Dashboard </span>
                    </a>
                </li>

                <li>
                    <a href="calendar.html">
                        <i class="mdi mdi-calendar-month"></i>
                        <span> Calendar </span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="mdi mdi-flip-horizontal"></i>
                        <span> Layouts </span>
                        <span class="badge badge-danger badge-pill float-right">New</span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="layouts-dark-sidebar.html">Dark Sidebar</a></li>
                        <li><a href="layouts-small-sidebar.html">Small Sidebar</a></li>
                        <li><a href="layouts-sidebar-collapsed.html">Sidebar Collapsed</a></li>
                        <li><a href="layouts-unsticky.html">Unsticky Layout</a></li>
                        <li><a href="layouts-boxed.html">Boxed Layout</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="mdi mdi-google-pages"></i>
                        <span> Pages </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="pages-starter.html">Starter Page</a></li>
                        <li><a href="pages-login.html">Login</a></li>
                        <li><a href="pages-register.html">Register</a></li>
                        <li><a href="pages-recoverpw.html">Recover Password</a></li>
                        <li><a href="pages-lock-screen.html">Lock Screen</a></li>
                        <li><a href="pages-404.html">Error 404</a></li>
                        <li><a href="pages-500.html">Error 500</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="mdi mdi-content-copy"></i>
                        <span> Extra Pages </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="pages-timeline.html">Timeline</a></li>
                        <li><a href="pages-invoice.html">Invoice</a></li>
                        <li><a href="pages-pricing.html">Pricing</a></li>
                        <li><a href="pages-gallery.html">Gallery</a></li>
                        <li><a href="pages-maintenance.html">Maintenance</a></li>
                        <li><a href="pages-comingsoon.html">Coming Soon</a></li>
                    </ul>
                </li>

                <li class="menu-title mt-2">Catalog</li>

                <li>
                    <a asp-area="Admin" asp-controller="Brands" asp-action="Index">
                        <i class="mdi mdi-format-underline"></i>
                        <span> Brands </span>
                    </a>
                </li>

                <li>
                    <a asp-area="Admin" asp-controller="Categories" asp-action="Index">
                        <i class="mdi mdi-poll"></i>
                        <span> Categories </span>
                    </a>
                </li>

                <li>
                    <a asp-area="Admin" asp-controller="Colors" asp-action="Index">
                        <i class="mdi mdi-puzzle-outline"></i>
                        <span> Colors </span>
                    </a>

                </li>

                <li>
                    <a asp-area="Admin" asp-controller="Sizes" asp-action="Index">
                        <i class="mdi mdi-black-mesa"></i>
                        <span> Sizes </span>
                    </a>

                </li>

                <li>
                    <a asp-area="Admin" asp-controller="Products" asp-action="Index">
                        <i class="mdi mdi-file-document-box-check-outline"></i>
                        <span> Products </span>
                    </a>
                </li>
            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>