@*<a href="javascript:void(0);" class="right-bar-toggle demos-show-btn">
    <i class="mdi mdi-settings-outline mdi-spin"></i> &nbsp;Choose Demos
</a>*@

<!-- Vendor js -->
<script src="~/Admin/assets/js/vendor.min.js"></script>

<!--Morris Chart-->
<script src="~/Admin/assets/libs/morris-js/morris.min.js"></script>
<script src="~/Admin/assets/libs/raphael/raphael.min.js"></script>

<!-- Dashboard init js-->
<script src="~/Admin/assets/js/pages/dashboard.init.js"></script>

<!-- App js -->
<script src="~/Admin/assets/js/app.min.js"></script>